*{margin: 0;padding: 0;}

h1.text-xs-center {
    margin-top: 0;
}

.contact p {
    width: 30%;
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
}

.column {
    margin: 29px;
    margin-left: 34px;
}

.xuong:hover {
    bottom: 4%;
}

.xuong:after {content: "";position: absolute;width: 4px;height: 6px;background: white;left: 50%;margin-left: -2px;bottom: 67%;}

.xuong {
    width: 40px;
    height: 60px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    margin-left: -20px;
    bottom: 2%;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}

.container.text-xs-center {}

ul.nav.navbar-nav.float-xs-right {
    background: #e7e8e9;
    text-align: center;
}

span.mo_ta_qt {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

h3.tieudecap3 {
    font-weight: bold;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 26px;
    color: #e97636;
}

span.in_dam {
    font-weight: bold;
    font-family: segoe iu;
    text-transform: none;
    color: #373a3cc7;
    font-size: 19px;
}

h2.tieudecap2 {
    font-weight: bolder;
    font-family: segoe ui light;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 18px;
}

.tieudeto {
    margin-top: 55px;
    padding-bottom: 30px;
}

.tieudeto h1 {
    display: inline;
    background: url(images/line.png) no-repeat bottom center;
    padding-bottom: 13px;
    font-size: 32px;
    line-height: 50px
}


.tt h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	margin-bottom: 22px;
}

.tt p {
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	margin: auto;
	margin-bottom: 32px;
}

.tt img {
	border-radius: 50%;
	margin: 35px;
	margin-bottom: 35px;
}

a.nuthire.btn.btn-primary {
	width: 180px;
	background: #000000;
	border: none;
}

.tt {z-index: 2;position: relative;padding-top: 100px;}

.khoithongtin1:before {
	content: "Make up";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;/*chia nua mang hinh*/
	height: 100%;
	background: #ffb00e66;
	z-index: 1;
}

a.navbar-brand {
	padding: 0;
}

.khoithongtin1 {
	height: 100%;
	width: 100%;
	background: #ff730eeb;
	position: relative;
	z-index: 1;
}

body, html {
	height: 100%;
	width: 100%;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
	background: #e7e8e9;
}

li.nav-item {
	margin: 0;
	padding: 0 17px;
}

a.nav-link {
	font-family: segoe ui;
	text-transform: uppercase;
	-webkit-text-stroke-width: medium;   
	font-size: 15px;
	color: #101010;
	line-height: 80px;
}

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0; 
	height: 100px;
} 

@media (max-width: 576px) {
	*{}

.tt img {
    margin-top: 76px;
    width: 150px;
    margin-bottom: 22px;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}

	li.nav-item {
		float: none!important;
		display: inline;
	}

	ul.nav.navbar-nav.float-xs-right {
		text-align: center;
		background: #e7e8e9;
		width: 101%;
		margin: 0;
		padding: 8px 0px;
	}

	li.nav-item {
		display: inline!important;
		margin: 0 0;
	}

	a.nav-link {
		line-height: 28px;
		display: inline!important;
		display: block;
		text-align: center;
	}
}